<body>
  <div class="bg-warning text-center p-4">
    <img src="<%= randomBook_01.img %> " alt="" width="100vw" />
    <h3><%= randomBook_01.title %></h3>
    <div class="d-flex justify-content-around container">
      <p><%= randomBook_01.isbn %></p>
      <p><%= randomBook_01.author %></p>
      <p><%= randomBook_01.published %></p>
      <p><%= randomBook_01.publisher %></p>
    </div>
  </div>
  <div class="bg-danger text-center p-4">
    <img src="<%= randomBook_02.img %> " alt="" width="100vw" />
    <h3><%= randomBook_02.title %></h3>
    <div class="d-flex justify-content-around container">
      <p><%= randomBook_02.isbn %></p>
      <p><%= randomBook_02.author %></p>
      <p><%= randomBook_02.published %></p>
      <p><%= randomBook_02.publisher %></p>
    </div>
  </div>
  <div class="bg-success text-center p-4">
    <img src="<%= randomBook_03.img %> " alt="" width="100vw" />
    <h3><%= randomBook_03.title %></h3>
    <div class="d-flex justify-content-around container">
      <p><%= randomBook_03.isbn %></p>
      <p><%= randomBook_03.author %></p>
      <p><%= randomBook_03.published %></p>
      <p><%= randomBook_03.publisher %></p>
    </div>
  </div>
</body>
