<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <ul>
            <h2 style="list-style: none;"><b>Title:</b><%=data[0].title%></h2>
            <li style="list-style: none;"><b>Subtitle:</b><%=data[0].subtitle%></li>
            <li style="list-style: none;"><b>Author:</b><%=data[0].author%></li>
            <li style="list-style: none;"><b>Pages:</b><%=data[0].pages%></li>
            <li style="list-style: none;">
                <b>Description:</b>
                <%=data[0].description%></li>
        </ul>
        <ul>
            <h2 style="list-style: none;"><b>Title:</b><%=data[1].title%></h2>
            <li style="list-style: none;"><b>Subtitle:</b><%=data[1].subtitle%></li>
            <li style="list-style: none;"><b>Author:</b><%=data[1].author%></li>
            <li style="list-style: none;"><b>Pages:</b><%=data[1].pages%></li>
            <li style="list-style: none;">
                <b>Description:</b>
                <%=data[1].description%></li>
        </ul>
      
        <ul>
        <h2 style="list-style: none;"><b>Title:</b><%=data[2].title%></h2>
        <li style="list-style: none;"><b>Subtitle:</b><%=data[2].subtitle%></li>
        <li style="list-style: none;"><b>Author:</b><%=data[2].author%></li>
        <li style="list-style: none;"><b>Pages:</b><%=data[2].pages%></li>
            <li style="list-style: none;">
                <b>Description:</b>
                <%=data[2].description%></li>
        </ul>
    </div>
</body>
</html>