<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div>
        <% data.map((e) => {%>
            <ul>
                <h2 style="list-style: none;">
                  <b>Title:</b>
                  <%=e.title%>
                </h2>
                <li style="list-style: none;">
                  <b>Subtitle:</b>
                  <%=e.subtitle%>
                </li>
                <li style="list-style: none;">
                  <b>Author:</b>
                  <%=e.author%>
                </li>
                <li style="list-style: none;">
                  <b>Pages:</b>
                  <%=e.page%>
                </li>
                <li style="list-style: none;">
                  <b>Description:</b>
                  <%=e.description%>
                </li>
              </ul>
            <%});%>

  </body>
</html>
